<h1>Mon Planning</h1>


<div class='draggable' data-event='{"title":"my event"}' img src='https://unsplash.it/200/300' id="my-draggable" />
<div class='draggable' data-event='1' data-duration='03:00' style= 'color:blue;'/>
</div>

<div class="container">
<div id='calendar'></div>
</div>

